<%- include('header') %>

<div id="card-page" class="df1 w75">
    <div id="deck-sidebar" class="p1 dn">
        <ul>
            <% for(let i = 0; i < decks.length; i++){ %>
                <li data-id="<%= decks[i].id %>" class="deck-list"><p class="di"><%= decks[i].name %></p></li>
            <% } %>
        </ul>
    </div>
    <div id="card-wrapper" class="w100">

        <div id="error-message" class="dn m1 p1 error-message error-border"></div>
        <div id="success-message" class="dn m1 p1 success-message success-border"></div>
    
        <div class="p3" id="card-header">
            <h2 class="tc"><%= deck.name %></h2>
    
            <div class="mode-buttons">
                <h3>Mode:</h3>
                <div class="mode-option" data-href="/decks/<%= deck.id %>/"><input type="radio" name="mode" id="study-mode" checked><label for="study-mode">  Study</label></div>
                <div class="mode-option" data-href="/decks/<%= deck.id %>/quiz"><input type="radio" name="mode" id="hard-mode"><label for="hard-mode">  Quiz</label></div>
            </div>
            <div class="df">
                <button class="button" id="add-card">Add Card</button>
                <button class="button" id="edit-card">Edit Card</button>
                <button class="button" id="delete-card">Delete Card</button>
                <a href="/"><button class="button">Back</button></a>
            </div>
        </div>

        <div class="p3" id="card-container">
            <div id="main-card" class="df0 main-card trigger w75">
                <p class="p2">
                    <% if(cards.length != 0){ %>
                        <%= cards[0].question %>
                    <% } %>
                </p>
            </div>
            <div class="df" id="card-buttons">
                <div>
                    <button id="move-start" class="control-btn">
                        <i data-lucide="chevrons-left"></i>
                        <span class="tooltip">First</span>
                    </button>
                    <button id="move-back" class="control-btn">
                        <i data-lucide="chevron-left"></i>
                        <span class="tooltip">Previous</span>
                    </button>
                </div>
                <div>
                    <button id="shuffle" class="control-btn">
                        <i data-lucide="shuffle"></i>
                        <span class="tooltip">Shuffle</span>
                    </button>
                </div>
                <div>
                    <button id="move-forward" class="control-btn">
                        <i data-lucide="chevron-right"></i>
                        <span class="tooltip">Next</span>
                    </button>
                    <button id="move-end" class="control-btn">
                        <i data-lucide="chevrons-right"></i>
                        <span class="tooltip">Last</span>
                    </button>
                </div>
            </div>
        </div>

        <div class="p3 dn" id="add-card-form">
            <div class="main-card df0">
                <label for="card-question">Question</label>
                <input type="text" name="card-question" id="add-card-question">

                <label for="card-answer">Answer</label>
                <input type="text" name="card-answer" id="add-card-answer">

                <input type="hidden" value="<%= deck.id %>" id="add-deck-id" name="deck_id">

                <div class="form-message p_5 m1 error-message error-border dn"></div>
            </div>

            <div class="df">
                <button type="button" id="" class="button cancel-btn">Cancel</button>
                <button type="button" id="add-card-btn" class="action-btn">Submit</button>
            </div>
        </div>

        <div class="p3 dn" id="edit-card-form">
            <div class="main-card df0">
                <input type="hidden" value=0 id="edit-card-id">

                <label for="card-question">Question</label>
                <input type="text" name="card-question" id="edit-card-question">

                <label for="card-answer">Answer</label>
                <input type="text" name="card-answer" id="edit-card-answer">
                
                <div class="form-message p_5 m1 error-message error-border dn"></div>
            </div>

            <div class="df">
                <button type="button" id="" class="button cancel-btn">Cancel</button>
                <button type="button" id="edit-card-btn" class="action-btn">Update</button>
            </div>
        </div>

        <div class="p3 dn" id="delete-card-form">
            <div class="main-card df0">
                <p>Are you sure you want to delete this card?</p>
            </div>

            <input type="hidden" value=0 id="delete-card-id">

            <div class="df">
                <button type="button" id="" class="button cancel-btn">Cancel</button>
                <button type="button" id="delete-card-btn" class="action-btn">Delete</button>
                
                <div class="form-message p_5 m1 error-message error-border dn"></div>
            </div>
        </div>

        <button id="expand-btn" class="expand-btn df">>></button>
        <button id="expand-deck-btn" class="expand-deck-btn df"><<</button>
    </div>
    <div id="card-sidebar" class="p1 dn">
        <ul>
            <% if(cards.length > 0){ %>
                <% for(let i = 0; i < cards.length; i++){ %>
                    <li id="card-option-<%= cards[i].id %>" data-name="<%= cards[i].question %>" class="card-list"><p class="di"><%= cards[i].question %></p><p class="di"><%= cards[i].answer %></p></li>
                <% } %>
            <% } %>
        </ul>
    </div>
</div>

<script>
    const cards = <%- JSON.stringify(cards) %>;
</script>
<%- include('footer') %>