<!-- <%- include('header') %>

<div id="card-page" class="df0">
    <div id="card-wrapper">
        <div class="p3" id="card-header">
            <h2 class="tc"><%= deck.name %></h2>
    
            <div class="mode-buttons">
                <h3>Mode:</h3>
                <div class="mode-option" data-href="/decks/<%= deck.id %>/"><input type="radio" name="mode" id="study-mode"><label for="study-mode">  Study (Normal)</label></div>
                <div class="mode-option" data-href="/decks/<%= deck.id %>/easyquiz"><input type="radio" name="mode" id="easy-mode" checked><label for="easy-mode">  Quiz (Easy)</label></div>
                <div class="mode-option" data-href="/decks/<%= deck.id %>/hardquiz"><input type="radio" name="mode" id="hard-mode"><label for="hard-mode">  Quiz (Hard)</label></div>
            </div>
            <div class="df">
                <a href="/"><button class="button">Back</button></a>
            </div>
        </div>

        <div class="p3" id="card-container">
            <div id="score-board">
                <p class="di">Score:</p>
                <p class="di">0</p>
                <p class="di"> / </p>
                <p class="di">0</p>
            </div>
            <div id="main-card" class="df0 main-card">
                <p class="p2"><%= cards[0].question %></p>
            </div>
            <div id="answer-container">
                <button class="button"></button>
                <button class="button"></button>
                <button class="button"></button>
                <button class="button"></button>
            </div>
            <div class="df">
                <div>
                    <button id="restart" class="control-btn">
                        <i data-lucide="rotate-ccw"></i>
                        <span class="tooltip">Restart</span>
                    </button>
                    <button id="move-forward" class="control-btn">
                        <i data-lucide="chevron-right"></i>
                        <span class="tooltip">Next</span>
                    </button>
                </div>
            </div>
        </div>

<script>
    const cards = <%- JSON.stringify(cards) %>;

    $(document).ready( function(){
    });
</script>
<%- include('footer') %> -->